@font-face {
	font-family: 'icomoon';
	src:  url('icomoon.eot?32e5lb');
	src:  url('icomoon.eot?32e5lb#iefix') format('embedded-opentype'),
	  url('icomoon.ttf?32e5lb') format('truetype'),
	  url('icomoon.woff?32e5lb') format('woff'),
	  url('fonts/icomoon.svg?32e5lb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }