
.artl-main-wrapper{
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
    /* -webkit-font-smoothing: antialiased; */
    /* word-break: break-word; */
    word-wrap: break-word;
	font-family: 'roboto', Helvetica, sans-serif;
}
[class*="artl-col-"] {
	width: 100%;
  }

[class*="artl-col-"] {
  width: 100%;
}


  
  @media only screen and (min-width: 600px) {
	/* For tablets: */
	.artl-col-s-1 {width: 8.33%;}
	.artl-col-s-2 {width: 16.66%;}
	.artl-col-s-3 {width: 50%;}
	.artl-col-s-4 {width: 33.33%;}
	.artl-col-s-5 {width: 41.66%;}
	.artl-col-s-6 {width: 50%;}
	.artl-col-s-7 {width: 58.33%;}
	.artl-col-s-8 {width: 66.66%;}
	.artl-col-s-9 {width: 75%;}
	.artl-col-s-10 {width: 83.33%;}
	.artl-col-s-11 {width: 91.66%;}
	.artl-col-s-12{width: 100%;}
	
  } 
  @media only screen and (min-width: 768px) {
	/* For desktop: */
	.artl-col-1 {width: 8.33%;}
	.artl-col-2 {width: 16.66%;}
	.artl-col-3 {width: 100%;}
	.artl-col-4 {width: 33.33%;}
	.artl-col-5 {width: 41.66%;}
	.artl-col-6 {width: 50%;}
	.artl-col-7 {width: 58.33%;}
	.artl-col-8 {width: 66.66%;}
	.artl-col-9 {width: 75%;}
	.artl-col-10 {width: 83.33%;}
	.artl-col-11 {width: 91.66%;}
	.artl-col-12 {width: 100%;}
  } 


/* Heading font color */
.artl-feature .artl-heading span{
	color: #353434;
	font-size: 16px;
	font-weight: 600;
}


/* Paragraph font color */
.artl-feature .artl-paragraph .artl-feature-paragraph{
	color: #353434;
	font-weight: 500;
	font-size: 14px;
}


 /* Border color */
 .artl-feature .artl-heading{
	 border-color: #000
 }
 .artl-feature .artl-paragraph{
	border-color: #000
 }
 /* Main icon size */

 .artl-feature .artl-heading img{
	height: 30px;
	width: 30px;
	
}
.artl-feature{
	margin-top: 20px;
	margin-bottom: 20px;
}
.artl-time {
	font-weight: bold;
  }
/* templete 1 css */
.artl-paragraph-template-1 .artl-feature-background{
	display: flex;
	justify-content: normal;
	height: auto;

}
.artl-paragraph-template-1 .artl-feature .artl-heading{
	height: auto;
	padding-top: 5px;
	padding-left: 10px;
	border-style: solid;
	border-width: 1px;
	border-right: none;
	padding-bottom: 2px;
}
.artl-paragraph-template-1 .artl-heading{
	display: flex;
	justify-content: normal;
	align-items: center;
	padding-right: 15px;
	background: none;
}

.artl-paragraph-template-1 .artl-feature .artl-heading span{
	padding-left: 5px;
	font-style: normal;
	line-height: 19px;
	text-align: left;
	padding-top: 0px;
	padding-right: 8px;

}
.artl-paragraph-template-1 .artl-feature .artl-feature-paragraph{
	height: auto;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 8px;
}

.artl-paragraph-template-1 .artl-paragraph{
	display: flex;
	align-items: flex-start;
	justify-content: normal;
	height: auto;
	border-style: solid;
	border-width: 1px;
	background: none;
	box-shadow: 4px 7px 36px rgb(0 0 0 / 8%);
}
.artl-paragraph-template-1 .artl-feature .artl-heading{
	background: none;
}
.artl-paragraph-template-1 .artl-feature .artl-feature-background .artl-paragraph{
	background: none;
}
.artl-paragraph-template-1 .artl-feature .artl-feature-paragraph{
	text-align: justify;
	box-sizing: border-box;
	font-style: normal;
	font-weight: 450;
	font-size: 14px;
	line-height: 18px;
	padding-left: 8px;
	padding-right: 12px;
} 
/* template 2 */

.artl-paragraph-template-2 .artl-feature-background{
	display: flex;
	justify-content: normal;
	height: auto;

}

.artl-paragraph-template-2 .artl-feature .artl-heading{
	height: auto;
	padding-top: 7px;
	padding-left: 10px;
}
.artl-paragraph-template-2 .artl-heading{
	display: flex;
	justify-content: normal;
	align-items: center;
	padding-top: 5px;
	padding-left: 5px;
}
.artl-paragraph-template-2 .artl-feature .artl-heading{
	background: none;
}
.artl-paragraph-template-2 .artl-feature .artl-feature-background .artl-paragraph{
	background: none;
}

.artl-paragraph-template-2 .artl-feature .artl-heading img{
	margin-bottom: 2px;
}

.artl-paragraph-template-2 .artl-feature .artl-heading span{
	padding-left: 2px;
	font-style: normal;
	line-height: 22px;
	text-align: left;
	padding-top: 2px;
	padding-right: 8px;
	margin-bottom: 4px;
}

.artl-paragraph-template-2 .artl-feature .artl-feature-paragraph{
	height: auto;
	
}
.artl-paragraph-template-2 .artl-feature .artl-feature-paragraph{
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}
.artl-paragraph-template-2 .artl-paragraph{
	display: flex;
	align-items: flex-start;
	justify-content: normal;
}


.artl-paragraph-template-2 .artl-feature .artl-feature-paragraph{
	text-align: justify;
	box-sizing: border-box;
	font: inherit;
	font-style: italic;
	padding-left: 8px;
	padding-bottom: 7px;
	
} 


/* Article Read Time block template */




/* Heading color */
.artl-main-heading{
	color: #000;
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}

/* Icon color */
svg .path1{
	fill: #827F7F;
}
svg .path2{
	fill: rgb(248, 250, 250);
}

/* Text color */
.artl-text1{
	color: #2F2E2E;
	font-size: 18px ;
	padding-bottom: 6px;
}
.artl-text2{
	color: #585858;
}
.artl-feature{
	margin-bottom: 20px;
	margin-top: 10px;
}



.artl-block-template-1 .artl-main-heading{
	text-align: center;
}

.artl-block-template-1 .artl-feature{
	height: auto;
	align-items: center;

}
.artl-block-template-1 .artl-feature-section{
	display: flex;
	margin: auto;
	justify-content: space-around;
	width: 286px;
	height: auto;
	border-radius: 25px;
	box-shadow: 12px 12px 36px rgba(0, 0, 0, 0.08);
	padding: 9px 25px;
	background-color: #D9D9D9;
}
.artl-block-template-1 .artl-feature-section .artl-word{
	display: block;
	justify-content: center;
	align-items: center;
	background: none;
}
.artl-block-template-1 .artl-text1{
	font-weight: normal;
	line-height: 21px;
}
.artl-block-template-1 .artl-text2{
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
}
.artl-block-template-1 .artl-word .artl-text1{
	font-style: normal;
	text-align: center;
}
.artl-block-template-1 .artl-word .artl-text2{
	font-style: normal;
	text-align: center;
}
.artl-block-template-1 .artl-feature-section .artl-character{
	display: block;
	background: none;
}
.artl-block-template-1 .artl-character .artl-text1{
	font-style: normal;
	text-align: center;
}
.artl-block-template-1 .artl-character .artl-text2{
	font-style: normal;
	text-align: center;
}
.artl-block-template-1 .artl-feature-section .artl-block-time{
	display: block;
	background: none;
}
.artl-block-template-1 .artl-block-time .artl-text1{
	font-style: normal;
	text-align: center;
}
.artl-block-template-1 .artl-block-time .artl-text2{
	font-style: normal;
	text-align: center;
}	

  
/* Template 3 */

.artl-block-template-2 .artl-main-heading{
	margin-bottom: 10px;
}

.artl-block-template-2 .artl-feature{
	height: auto;
	align-items: center;
	margin-bottom: 20px;
}
.artl-block-template-2 .artl-feature-section{
	display: flex;
	background-color: #DFF0FF;
	justify-content: space-around;
	width: 286px;
	height: auto;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding: 9px 25px;
}
.artl-block-template-2 .artl-feature-section .artl-word{
	display: block;
	justify-content: center;
	align-items: center;
	background: none;
}
.artl-block-template-2 .artl-text2{
	font-size: 14px;
}
.artl-block-template-2 .artl-word .artl-text1{
	font-style: normal;
	font-weight: normal;
	line-height: 21.09px;
	text-align: center;
}
.artl-block-template-2 .artl-word .artl-text2{
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	text-align: center;
}
.artl-block-template-2 .artl-feature-section .artl-character{
	display: block;
	background: none;
}
.artl-block-template-2 .artl-character .artl-text1{
	font-style: normal;
	font-weight: normal;
	line-height: 21.09px;
	text-align: center;
}
.artl-block-template-2 .artl-character .artl-text2{
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	text-align: center;
}
.artl-block-template-2 .artl-feature-section .artl-block-time{
	display: block;
	background: none;
}
.artl-block-template-2 .artl-block-time .artl-text1{
	font-style: normal;
	font-weight: normal;
	line-height: 21.09px;
	text-align: center;
}
.artl-block-template-2 .artl-block-time .artl-text2{
	font-style: normal;
	font-weight: 300;
	line-height: 16px;
	text-align: center;
}







/* Progress bar css */


.artl-progressbar-header {
	position: fixed;
	z-index: 1;
	width: 100%;
   }
  
  .artl-progress-container {
	width: 100%;
  }
  
  .artl-progress-bar {
	width: 0%;
  }








  